body{
    background-color: black;
}
h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
#post{
    width: 100%;
    border: 5px solid white;
    
}
#first{
    padding: 0%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
}